@model SteamClone.Dto.Response.GameDetailsResponse

@{
    ViewData["Title"] = "Index";
}

<h1>@Model.Name</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">

        </dt>
        <dd class="col-sm-10">
            <img style="width:100%" src="@Model.ImageUrl"></img>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Publisher
        </dt>
        <dd class="col-sm-10">
            @Model.Publisher.Name
        <dt class="col-sm-2">
            Price
        </dt>
        <dd class="col-sm-10">
                @Model.Price $
        </dd>
        <dt class="col-sm-2">
            Categories
        </dt>
        <dd class="col-sm-10">

                    @foreach (var item in Model.Categories)
                    {
                    <pre>@item.Category.Name</pre>
                    }
        </dd>
        <dt class="col-sm-2">
            Developers
        </dt>
        <dd class="col-sm-10">

                @foreach (var item in Model.Developers)
                {
                <pre>@item.Developer.Name</pre>
                }
        </dd>
        <dt class="col-sm-2">
            About
        </dt>
        <dd class="col-sm-10">
                @Model.About
        </dd>
        <dt class="col-sm-2">
            Release date
        </dt>
        <dd class="col-sm-10">
                @Model.ReleaseDate.ToShortDateString()
        </dd>
        <dt class="col-sm-2">
            Minimum Hardware
        </dt>
        <dd class="col-sm-10">
                @Model.MinimumHardware
        </dd>
        <dt class="col-sm-2">
            Recommended Hardware
        </dt>
        <dd class="col-sm-10">
                @Model.RecommendedHardware
        </dd>
    </dl>
</div>


<div class="row"> 
    <div>

    </div>
</div>
@foreach (var item in Model.Review)
{
    <div class="card">
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>@item.Review</p>
                <footer class="blockquote-footer">@item.User.UserName</footer>
            </blockquote>
        </div>
    </div>  
}
<div>
    @if (User.IsInRole("Admin"))
    {
        <a asp-controller="game" asp-action="update" asp-route-id="@Model.Id">Edit</a>
        <a asp-controller="game" asp-action="delete" asp-route-id="@Model.Id">Delete</a>
    }
    <a asp-controller="home" asp-action="Index">Back to List</a>
</div>
