@model GameUpdateViewModel
@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>
<br />
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update" method="post" asp-route-id="@Model.Game.Id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Game.Id" class="control-label" hidden></label>
                <input asp-for="Game.Id" class="form-control" hidden />
                <span asp-validation-for="Game.Id" hidden class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.Name" class="control-label"></label>
                <input asp-for="Game.Name" class="form-control" />
                <span asp-validation-for="Game.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.PublisherId" class="control-label">Publisher</label>
                <select asp-for="Game.PublisherId">
                    @foreach (var item in Model.Publisher)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
                <span asp-validation-for="Game.PublisherId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.Price" class="control-label"></label>
                <input asp-for="Game.Price" class="form-control" />
                <span asp-validation-for="Game.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.About" class="control-label"></label>
                <input asp-for="Game.About" class="form-control" />
                <span asp-validation-for="Game.About" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.ReleaseDate" class="control-label"></label>
                <input asp-for="Game.ReleaseDate" class="form-control" />
                <span asp-validation-for="Game.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.MinimumHardware" class="control-label"></label>
                <input asp-for="Game.MinimumHardware" class="form-control" />
                <span asp-validation-for="Game.MinimumHardware" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.RecommendedHardware" class="control-label"></label>
                <input asp-for="Game.RecommendedHardware" class="form-control" />
                <span asp-validation-for="Game.RecommendedHardware" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.ImageUrl" class="control-label"></label>
                <input asp-for="Game.ImageUrl" class="form-control" />
                <span asp-validation-for="Game.ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div style="margin:50px">
                    <div>Categories</div>
                    @foreach (var item in Model.Categories)
                    {
                        if (Model.Game.Categories.Any(c => c.CategoryId == item.Id))
                        {
                            <input name="categories" checked="true" style="margin-left:15px" itemid="@item.Id" type="checkbox" value="@item.Id" />
                            <label>@item.Name</label>
                        }
                        else
                        {
                            <input name="categories" style="margin-left:15px" itemid="@item.Id" type="checkbox" value="@item.Id" />
                            <label>@item.Name</label>
                        }

                    }
                </div>
            
            </div>
            
            <div class="form-group">
                <div style="margin:50px">
                    <div>developers</div>
                    @foreach (var item in Model.Developers)
                    {
                        if (Model.Game.Developers.Any(d => d.DeveloperId == item.Id))
                        {
                            <input name="developers" checked="true" style="margin-left:15px" itemid="@item.Id" type="checkbox" value="@item.Id" />
                            <label>@item.Name</label>
                        }
                        else
                        {
                            <input name="developers" style="margin-left:15px" itemid="@item.Id" type="checkbox" value="@item.Id" />
                            <label>@item.Name</label>
                        }

                    }
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>





<div>
    <a asp-controller="home" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

