
@{
    ViewData["Title"] = "Home Page";
     
}
@model IEnumerable<GameDisplayResponse>

<div class="row">
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="nameBox" placeholder="game name"  aria-describedby="basic-addon2">
        <div class="input-group-append">
            <a id="send"><button class="btn btn-outline-secondary" type="button">Send</button></a>
        </div>
    </div>
</div>
<span>@TempData["Signup"]</span>
<Div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="card m-1" style="width: 18rem;">
                <img class="card-img-top" style="height:50%" src="@item.ImageUrl" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@item.Price $</p>
                    <a asp-controller="Game" asp-action="index" asp-route-id="@item.Id" class="btn btn-primary">Mağaza sayfası</a>
                    <button id="@item.Id" class="btn btn-success wishList"  data-id="@item.Id">add wish list</button>
                </div>
            </div>
        }
     </div>   
</Div>
@section Scripts{

    <script>
        $(document).ready(function(){
            $('.wishList').on('click',function(){
                let id = $(this).data('id')
                    $.ajax({
                    url:'/WishList/AddWishList/'+id,
                    type:'GET',
                    success:function(data){
                        console.log(data)
                        if(data.result == 0){
                            $("#"+id).remove();
                            alert("game added")
                        }
                    },
                    error:function(err){
                        console.log("error", err);
                    }
                });
            });
        })
    </script>
    <script>
        document.getElementById("nameBox").addEventListener("keyup", () => {
            var text = document.getElementById("nameBox").value;
            document.getElementById("send").href = "/home/index?name="+text
            console.log(text);
        })
    </script>
}


    